{{page-title "Tic-tac-toe" replace=true}}
<h1 class="text-white text-center text-6xl font-bold font-sans">Turn {{this.turn}}</h1>
<Board
  @marker={{this.currentMarker}}
  @markerAttrs={{this.markerAttrs}}
  @onCellClick={{this.onCellClick}}
  @rows={{this.rows}}
/>